*{
  margin:0;
  padding:0;
  border:0;
}

body{
  background-color:#fff;
  color:#123;
}

.bg1{
  background-color:#fff;
  color:#123;
}

.bg2{
  background-color:#123;
  color:#fff;
}

#footer{
  padding:5px;
}

/**-_-**/

#header{
  height:100px;
}

#header #greet{
  padding-top:50px;
  padding-left:10px;
}

#content{
  height:700px;
}

/**/

.card{
  margin:10px;
  border-radius:10px;
  border: 1px solid #123;
  display:inline-block;
}

.h-100{
  min-height:100px;
}
.w-300{
  width:300px;
}

.w-100{
  width:100px;
}






