/*
  @file - style.css 
  @desc - stylesheet for https://sleepchild.github.io
  @author - collins (sleepchild)
  rev - o
*/

*{
    margin: 0;
    padding: 0;
}

html{
  width:100%;
  height:100%;
}

body{
    overflow:hidden;
    width:100%;
    height:100%;
    background-color:#1FB5DF;
    background-image: linear-gradient(to bottom, #245981, #1FB5DF);
    background-repeat:no-repeat;
    color:#ffffff;
    font-family:serif;
}

#topbar{
  position:fixed;
  width:100%;
  height:3em;
  padding-top:5px;
  padding-left:10px;
  top:0;
  left:0;
  overflow:hidden;
  z-index:999999;
  color:#7A99B6;
  font-size:0.9em;
  background-color:#245981;
}

#main{
  margin-top:3em;
  width:100%;
  height:100%;
  overflow-y:scroll;
  font-size:1em;
}

.section{
  width:100%;
  height:100%;
  border-top:0.5px solid #ffffff;
}

.ml-20{
  margin-left:2em;
}

.st5{margin-top:0.5em;}

#greet{
  font-size:1.5em;
}
#greet>.p1{
  margin-top:20%;
}
#greet #ola{
  font-size:2em;
}
#greet:active .p1 {
  color:#7A99B6;
}

/*oh yeah! custom tag*/
c9ee{
  color:#96E3E6;
}
