*{
  margin:0;
  padding:0;
  border:0;
}

body{
  width:100%;
  height:100%;
  background-color:#fff;
  color:#123;
  font-size:16px;
}

#header{
  background-images: url('img/bg2.jpg');
  background-position:center;
  background-size:cover;
  height:300px;
  width:100%;
}

#header #greet{
  padding-top:200px;
  padding-left:20px;
}

#header #greet h1[l]{
  padding-left:20px;
}

#content{
  height:500px;
}

#about{
  text-align:center;
}
#about p{
  margin-bottom:10px;
}

.container{
  padding:10px;
}

#footer{
  padding:5px;
  text-align:right;
}

.bg1{
  background-color:#fff;
  color:#123;
}

.bg2{
  background-color:#123;
  color:#fff;
}

.margin-top-20{
  margin-top:20px;
}

.margin-top-50{
  margin-top:50px;
}

.button{
  text-decoration:none;
  color:#115397;
  border:1px solid #123;
  border-radius:2px;
  padding:2px;
}

.button:hover, .button:active{
  background-color:#123;
  color:#fff;
  padding:4px;
}

button:hover a{
  color:#999;
}

.button-large{
  padding:8px;
}

.button-large:hover, .button-large:active{
  padding:10px;
}

@media (min-width: 720px){
  #header{
    height:400px;
  }
  #footer{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
  }
}

@media (min-width: 950px){
  body{
    font-size:22px;
  }
  #header{
    height:500px;
  }
}
